[2022-02-02 21:17] donriepurcell commented on #83
Hi David and Donrie,

Putnam has brought to my attention a different issue with the monitoring section. Screenshots are attached.

For their OEND - B3 June 2021 data, the word "None" appears next to the value of zero. When trying to edit this, the "None" still appears. I've tried deleting this, but it won't leave.

This is less of a concern than the issue with Suffolk.

Thank you,
Jessica
--

Jess

[2022-02-08 17:19] jbazinet1111 commented on #83
This is a hodgepodge of errors, generally all data entry.

Where you see "none", that is the unit of measure for that particular measure. You should typically see 4 Persons, 3 kits, etc for different measures. But this measure (and many of their measures) are homemade "Other" measures where they did not add a unit of measure or in some cases, added "none". Which is why you see it.

In addition, th

[2022-02-08 17:20] jbazinet1111 commented on #83
Or, we can remove the unit of measure from the monitoring display. (But I think you'd be delaying the inevitable of having to add those measures).

[2022-02-08 18:16] dlounsbu commented on #83
I had feeling that it was something like this.

@donriepurcell It is a leftover issue from the free-for-all 'add any measure you like' phase.

I agree with @jbazinet1111 : Add the OTHER measure as they need it. That should clean this up. @donriepurcell , give it a shot.

This is why we need full control over Wave 2's Measures List Options . . .

[2022-02-08 18:45] mirmahdi commented on #83
Hi All,

Hope all is well.

I was trying to unsubscribe from IP Tracker messages but I think I
accidentally changed the status of this ticket. Please kindly review and
correct it again.

Thank you,
Mahdi

On Tue, Feb 8, 2022 at 1:16 PM David W Lounsbury ***@***.***>
wrote:

--

------------------------------------------------------------
*The information included in this email may be strictly conf

[2022-02-08 23:40] donriepurcell commented on #83
Hi Jeff & David

1st issue:
I tried to edit the Measures Monitoring data for  Strategy E , for Putnam

[2022-02-09 16:41] jbazinet1111 commented on #83
Cleaned up some Monitoring measures so that they all had a unit of measure.  There are still a few still blank only because the measure didn't really identify what the counts would be.

Also - you can now go in and download the list options and it will contain the EBP value with the measures.

[2022-02-16 16:46] donriepurcell opened #84 "Service Request by [Donrie Purcell] for List Options download with Measures associated Specific EBPs"
- [ ] Qualtrics Service Request Form was received from User
- [ ] e-mail acknowledging that User's Qualtrics Service Request Form was sent
- [ ] Problem NOT RESOLVED
- [ ] Problem PARTIALLY RESOLVED
- [ ] Problem FULLY RESOLVED and Issue is Closed
- [ ] Qualtrics Post-Service Request Survey was sent to User

Use comments feature (below) to document:

1. A clear and concise description of the solut

[2022-02-16 16:52] donriepurcell commented on #84
Hi Jeff,

I am wondering if you made the list options download available with the measures associated with the EBPs so that David and I can review them to update the codebook?
Kind regards
Donrie

[2022-02-16 17:02] jbazinet1111 commented on #84
Yes. The functionality has been released.

[2022-02-16 17:07] donriepurcell commented on #84
Hi jeff
I download the following:

<img width="1263" alt="Screen Shot 2022-02-16 at 12 07 26 PM" src="https://user-images.githubusercontent.com/80912517/154318205-7e051893-2a94-43e2-8ddc-8dabb4eee8db.png">

[2022-02-16 17:09] donriepurcell commented on #84
Please direct me in terms of where I may have gone wrong. Usually you can spot these things in an instant.

[2022-02-16 17:11] jbazinet1111 commented on #84
If you scroll down to the measures, the EBP value will be in one of the columns to the right.

[2022-02-16 17:13] donriepurcell commented on #84
<img width="1608" alt="Screen Shot 2022-02-16 at 12 12 44 PM" src="https://user-images.githubusercontent.com/80912517/154319160-ff31733d-f01c-420e-8e91-30264128673f.png">

[2022-02-16 17:13] donriepurcell commented on #84
This is the last of the measures

[2022-02-16 17:15] jbazinet1111 commented on #84
Yeah. None of the OTHER MEASURES have an EBP value. That's generally the problem with those measures. Take a look at Primary Measures or one of the others. That third column should have data.

[2022-02-16 17:19] donriepurcell commented on #84
Ok Great,
That clears it up for David and I because we cannot really change what is assigned to the primary, secondary, and structural measures without engaging Columbia. Thanks once more. David and I will proceed from here.

[2022-02-16 17:21] #84 closed, assigned to dlounsbu, donriepurcell, jbazinet1111

[2022-02-23 21:44] dlounsbu commented on #80
Hi @jbazinet1111

Donrie and I have completed our WAVE 2 CODEBOOK. See Excel file attached. Four columns, like your current LIST OPTIONS download.

[IPA Wave 2 Codebook 2022-02-23 dp dwl.xlsx](https://github.com/dlounsbu/NYHEALing-IPAtracker-support/files/8127972/IPA.Wave.2.Codebook.2022-02-23.dp.dwl.xlsx)

Can you upload it to Wave 2 for us?

Once it is uploaded, we will create sample/exemplar IP

[2022-02-25 15:22] dlounsbu commented on #80
Hi Jeff:

Let us know if you can work with this Excel file to set up the new Wave 2 codebook.

Once you set up this new codebook, we can continue our beta testing.

Thanks,
David

[2022-02-26 16:39] dlounsbu commented on #83
Thank you @jbazinet1111 !

@donriepurcell : I think we can close this issue now, yes? Jessica is good?

DL

[2022-02-26 17:41] dlounsbu commented on #83
**EXCERPT OF e-mail from James, received on Monday, Feb 2, 2022**

As for the paper concept, we want to code the (baseline) Wave 1 Action Plans in a way that distinguishes strategies that are ‘touching lives’ via EBPs to prevent overdose and overdose fatality from all other strategies (i.e., capacity building strategies). And, among all capacity building strategies, we wanted to classify the level

[2022-02-26 17:43] dlounsbu commented on #79
**EXCERPT OF e-mail from James, received on Monday, Feb 2, 2022**

As for the paper concept, we want to code the (baseline) Wave 1 Action Plans in a way that distinguishes strategies that are ‘touching lives’ via EBPs to prevent overdose and overdose fatality from all other strategies (i.e., capacity building strategies). And, among all capacity building strategies, we wanted to classify the level

[2022-02-26 17:44] dlounsbu commented on #79
@donriepurcell

We will focus on the SD modeling and writing that up, instead. I did not get any further feedback from James.
DL

[2022-02-26 17:47] dlounsbu commented on #82
I think we can close this issue, too, right?

[2022-02-26 17:47] #82 closed

[2022-02-26 17:48] #23 closed

[2022-02-27 15:24] jbazinet1111 commented on #80
All loaded into Wave2.

[2022-02-27 15:34] jbazinet1111 commented on #80
Not sure if it was an error but in the spreadsheet, you had the primary measure "Take back drugs drop boxes" listed twice, each with the same units and EBP value. I only added it once.

[2022-02-28 16:57] dlounsbu commented on #80
Hi Jeff:

Donrie and I see that you have uploaded the codebook. When you go to set up a new IPA and Strategy screen, the field that let's you specify the ORCCA EBP and the EPB has no list options. **Can you fix?**

**Actually, while we are at it, can you change the label in the Tracker Form from 'ORCCA EBP' to 'EBP Domain' (which is OEND, MOUD, and Safe Prescribing) and 'EPB' to 'EBP Type'?**

Onc

[2022-02-28 17:38] jbazinet1111 commented on #80
I added them to the list options for wave 2. They weren't in the excel file but I grabbed them from the wave1 database. Hoping they didn't change.

You should be set now.

[2022-02-28 19:07] dlounsbu commented on #80
Hi Jeff:

Yes, I see that we did not include the ORCCA Domain Level EPB, but we did include the type of EBP.

In any case, we can cross-check this now.

I see that the EBP domain and type fields are populated now.

DL

[2022-03-01 22:46] dlounsbu commented on #83
From: David Lounsbury
Sent: Tuesday, March 1, 2022 4:50 PM
To: Jessica Neufeld <jn2434@columbia.edu>
Cc: Donrie Purcell <donrie.purcell@einsteinmed.edu>; Nicholas Bove <nicholas.bove@einsteinmed.edu>
Subject: RE: Tracker

Hi Jessica:

You can call my at or after 5pm if you would like. I will be here until 6pm.

Now, if you have Admin access, I can show you how to add new and or edit ‘Other’ measur

[2022-03-01 22:49] dlounsbu commented on #83
Hi Donrie:

Jessica did not call me back this evening, but I sent her an e-mail that should help.

Maybe you can reach her tomorrow.

I see what she want to do, and it there should be no problem if (1) she had Admin access and (2) if she is willing to make the changes for county staff.

I agree that we cannot give county staff the capacity to change LIST OPTIONS. That has to reserved for you, me a

[2022-03-01 23:03] dlounsbu commented on #51
<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Word.Document>
<meta name=Generator content="Microsoft Word 15">
<meta name=Originator content="Microsoft Word 15">
<link

[2022-03-02 16:50] donriepurcell commented on #51
Hi Drew
Please see attached the data you're interested in.
Additionally, please let David and I know if the data suffices and/or if we can do anything else to assist you with your data needs
[DUI_2022-02-24 All Communities .xlsx](https://github.com/dlounsbu/NYHEALing-IPAtracker-support/files/8171361/DUI_2022-02-24.All.Communities.xlsx)
Kind Regards
Donrie

[2022-03-02 16:55] dogrdon-cu commented on #51
Great, Thank you Donrie. I will get this loaded up and let you know if I
have any questions.

Thanks again for the quick turn around on this.

On Wed, Mar 2, 2022 at 11:50 AM donriepurcell ***@***.***>
wrote:

--
*Drew Gordon*
Sr. Data Engineer
Columbia University IT
(212) 853-7044 (*o*)
(646) 761-0497 (*m*)

[2022-03-02 21:39] donriepurcell commented on #65
Hi Jeff,
I am working on beta testing the Wave 2 IPA Tracker by entering data into the different fields so fast to weed out the small issues before release.
N.B.
In Wave 2 there is a test county, in the said test county there is an IPA named MOUD 1.
The text box of the **feedback/QI** does not allow for data entering, and the **New Comment Type** does not have a dropdown options to choose from.
Pl

[2022-03-03 13:36] jbazinet1111 commented on #65
Good morning.
The items in that list come from the COMMENT TYPE list option which, I'm guessing, wasn't in the Excel upload. In addition, the text box you have circled never gets text directly. That is displaying the log. You need to enter text in box below (which it looks like you have done) and then click Add. I believe a Comment Type is required.

Would you like me to add the comment types from

[2022-03-03 14:54] donriepurcell commented on #65
Hi Jeff
Thank you for the  speedy response. I will discuss with david how best to approach the Comment Type.
Regards
Donrie

[2022-03-04 19:51] donriepurcell commented on #65
Hi Jeff
I forgot to let you know that Types of Challenges are not available, and neither are Threats to Success.
![Screen Shot 2022-03-04 at 2 47 19 PM](https://user-images.githubusercontent.com/80912517/156832040-ea500732-f78d-4956-939b-0f2ab3ce6e6d.png)
![Screen Shot 2022-03-04 at 2 52 28 PM](https://user-images.githubusercontent.com/80912517/156832275-038e2972-de55-4f41-b20b-69eeddb7d627.png)

[2022-03-04 19:55] dlounsbu commented on #65
@jbazinet1111

'Type of Challenge' in this form is 'CHALLENGE CONCERN' in the Codebook we sent to you. See

https://github.com/dlounsbu/NYHEALing-IPAtracker-support/issues/80#issuecomment-1050946543

Thanks

[2022-03-04 20:09] dlounsbu commented on #65
@jbazinet1111

Let's edit this form as follows --
1. Delete the field for 'Type of Comment.'
2. Move 'Reviewer' field and 'Review Date' up in the form, next to the Comment text box. We think people will be more inclined to fill in those fields if they are next to the comment box.
3. Change 'Reviewer' to 'Feedback provided by:' and change 'Review date' to 'Comment date'.
4. Delete the two rating fi

[2022-03-06 12:54] jbazinet1111 commented on #65
David,
Do you know if the latest service addendum has been signed? I don't have an instrument to bill against.

Also - I think we can skip the Comment Date listed above; I'd recommend we just use the current date in which they add the comment.

[2022-03-07 17:16] dlounsbu commented on #65
Hi Jeff:

I am getting updates from Einstein Admin now, but the last e-mail about the addendum was March 1.

The were setting up a new PO number, etc.

I e-mailed them for an update and to provide the signed addendum.

DL

[2022-03-07 17:36] dlounsbu commented on #65
@jbazinet1111

So, in conversation with Columbia last week, it appears that, recently, Wave 1 county staff need (want) to be able to edit or add new OTHER measures.

As you know, we took this feature away, so as to add in a layer of quality control regarding adding OTHER measures.

The main reason for this was that county staff were adding so many OTHER measures, often without mapping them to an E

[2022-03-07 17:42] jbazinet1111 commented on #65
I think this has come full circle twice now!
Before I dive into a design, do they want the same thing put back for Structural Measures as well?

[2022-03-07 18:44] dlounsbu commented on #65
Hi Jeff:

**Do not dive back into it yet.** I just wanted to alert you to this matter.

No, my understanding is that it would just be for OTHER measures. But I will investigate. We have a meeting set up to talk about this matter and about Wave 2 prep with Columbia tomorrow.

We have not made any decisions yet.

DL

[2022-03-08 23:48] dlounsbu commented on #65
**Jeff, Columbia informed me today that they do not plan to use the IPA Tracker for Wave 2.**

However, they want Wave 1 counites to continue to use it. So, we need a plan of action that is responsive to what Wave 1 needs and wants, in order to facilitate their continued use of the tool.

Instead, for Wave 2, Columbia is planning to rebuild a new 'reach' Tracker in a commercial package called 'sma

[2022-03-09 15:05] NBOVE1 commented on #65
@dlounsbu  Yes, will do!

[2022-03-09 19:32] donriepurcell opened #85 "Service Request by [Mia Christopher] on repairing errors"
- [ ] Qualtrics Service Request Form was received from User
- [ ] e-mail acknowledging that User's Qualtrics Service Request Form was sent
- [ ] Problem NOT RESOLVED
- [ ] Problem PARTIALLY RESOLVED
- [ ] Problem FULLY RESOLVED and Issue is Closed
- [ ] Qualtrics Post-Service Request Survey was sent to User

Use comments feature (below) to document:

1. A clear and concise description of the solut

[2022-03-09 19:34] donriepurcell commented on #85
[From: ]()David Lounsbury <noreply@qemailserver.com>
Date: Wednesday, March 9, 2022 at 1:33 PM
To: Donrie Purcell <donrie.purcell@einsteinmed.edu>
Subject: IPA Tracker Support Request Form Submitted
IPA SERVICE REQUEST SUMMARY

1. CONTACT INFORMATION:

Mia  Christopher

Email:  mm5651@columbia.edu

Phone:  2078121440

2. COUNTY

Erie

3. WHICH FEATURE(S):

Some other feature

4. BRIEF PROBLEM DESC

[2022-03-09 19:35] donriepurcell commented on #85
I have edited and re-assigned the error by Mia.
The next step is to look in my previous download for the data she lost and  give it to her to be re-entered.

[2022-03-09 19:55] donriepurcell commented on #85
From: Donrie Purcell <donrie.purcell@einsteinmed.edu>
Date: Wednesday, March 9, 2022 at 2:54 PM
To: mm5651@columbia.edu <mm5651@columbia.edu>
Subject: Re: Data required !!
Hi Mia

Please find attached all the data you will need to repopulate the fields lost for 2B1 Curbside.

Regards
Donrie Purcell, PhD, MPH

Every generation has the obligation to free men's minds for a look at new worlds,....to l

[2022-03-09 19:55] #85 closed, assigned to dlounsbu, donriepurcell, NBOVE1

[2022-03-10 23:25] dlounsbu commented on #65
Hi Jeff:

So, let's move forward with a way to re-enable the feature to allow EDITING and ADDING of OTHER measures.

1. Is there a way to prompt (force) users to select an EBP type and to specify units when they add a new OTHER measure? I think will address some of the QI issues we have.

2. Relatedly, once a new OTHER measure is added, would it be available for selection by another other user (in

[2022-03-10 23:29] #83 closed

[2022-03-10 23:31] dlounsbu commented on #85
Hi Donrie:

This issue is fixed, right?

DL

[2022-03-10 23:32] #64 closed

[2022-03-10 23:32] #15 closed

[2022-03-10 23:35] dlounsbu commented on #79
@donriepurcell

Need to learn more about the matter of having IRB approval to analyze and write about Tracker data.

[2022-03-11 02:09] donriepurcell commented on #85
Yes sir
I closed it yesterday

[2022-03-11 02:30] donriepurcell commented on #79
Ok, I will see what Einstein IRB says, outside of that (at your level) you will have to contact James to find out about the data usage agreement as per his conversation with us this week.
Maybe, Nick can assist us.
I honestly have no inside link at Columbia nor do I understand how their system works...

[2022-03-11 16:22] dlounsbu commented on #80
Hi @jbazinet1111

So, let me be clear, we will continue to beta test the Tracker for Wave 2.

@donriepurcell will be sending notes about bugs and features that we want to address.

The aim is to make the Tracker as practicable and reliable as possible.

Best and thanks,
David

[2022-03-11 16:24] dlounsbu commented on #65
Hi Nick:

Please do not forget we we need a meeting with Bruce!

DL

[2022-03-12 00:32] donriepurcell opened #86 "Service Request by [Megan Donato] to Create other Measures within Lewis County"
- [ ] Qualtrics Service Request Form was received from User
- [ ] e-mail acknowledging that User's Qualtrics Service Request Form was sent
- [ ] Problem NOT RESOLVED
- [ ] Problem PARTIALLY RESOLVED
- [ ] Problem FULLY RESOLVED and Issue is Closed
- [ ] Qualtrics Post-Service Request Survey was sent to User

Use comments feature (below) to document:

1. A clear and concise description of the solut

[2022-03-12 00:33] donriepurcell commented on #86
Date: Thursday, March 10, 2022 at 12:42 PM
To: Nasim Sabounchi <[Nasim.Sabounchi@sph.cuny.edu](mailto:Nasim.Sabounchi@sph.cuny.edu)>
Subject: RE: CANCELED Updated invitation with note: HCS Lewis County Coaching Call @ Every 2 weeks from 10am to 11am on Thursday from Thu Feb 24 to Thu Jun 30 (EST) ([nasim.sabounchi@sph.cuny.edu](mailto:nasim.sabounchi@sph.cuny.edu))

***ATTENTION: This email came f

[2022-03-12 00:35] donriepurcell commented on #86
Hi Profe'
Please advise.
Regards
Donrie

[2022-03-14 18:45] donriepurcell opened #87 "Service Request by [Add user ]Troubleshooting"
- [ ] Qualtrics Service Request Form was received from User
- [ ] e-mail acknowledging that User's Qualtrics Service Request Form was sent
- [ ] Problem NOT RESOLVED
- [ ] Problem PARTIALLY RESOLVED
- [ ] Problem FULLY RESOLVED and Issue is Closed
- [ ] Qualtrics Post-Service Request Survey was sent to User

Use comments feature (below) to document:

1. A clear and concise description of the solut

[2022-03-14 18:50] donriepurcell commented on #87
Hi @jbazinet1111

I am having a bit of trouble adding a user or users to the tracker today. I am wondering if has anything to do with the MacBook as I do recall you mentioning something of the sort a while back.
I also tried adding someone via a PC which yielded the same result. Any guidance you can provide will be great as I know the folks at Columbia are awaiting a response from us.
Thank you so

[2022-03-14 19:16] jbazinet1111 commented on #87
Without an error message it is a little tough. Seldom is the issue a result of a Mac vs a PC. In this case, I came across a situation where my user did not get added and it was because the Wave field was not filled in. Perhaps this is the case with you?
If so, we can consider putting a message in place that will notify the user if the fields are not completed in full.

[2022-03-14 19:20] donriepurcell commented on #87
Hi Jeff,
David came back in and was able to assist me.
Thank you. It seems that I have to add a couple digits to the password and ensure that the username is added to the user management list before proceeding.
Thanks for all you do
Regards
Donrie

[2022-03-14 19:20] #87 closed, assigned to dlounsbu, donriepurcell, NBOVE1, jbazinet1111

[2022-03-14 19:54] donriepurcell opened #88 "Service Request by [editing of demographics] on behalf of the Columbia team"
- [x] Qualtrics Service Request Form was received from User
- [ ] e-mail acknowledging that User's Qualtrics Service Request Form was sent
- [ ] Problem NOT RESOLVED
- [ ] Problem PARTIALLY RESOLVED
- [ ] Problem FULLY RESOLVED and Issue is Closed
- [ ] Qualtrics Post-Service Request Survey was sent to User

Use comments feature (below) to document:

1. A clear and concise description of the solut

[2022-03-14 20:12] dlounsbu commented on #88
From: David Lounsbury [mailto:noreply@qemailserver.com]
Sent: Monday, March 14, 2022 1:52 PM
To: David Lounsbury <david.lounsbury@einsteinmed.edu>
Subject: IPA Tracker Support Request Form Submitted

IPA SERVICE REQUEST SUMMARY

1. CONTACT INFORMATION:

Jessica  Neufeld

Email:  [jn2434@columbia.edu](mailto:jn2434@columbia.edu)

Phone:  9175025218

2. COUNTY

All counties

3. WHICH FEATURE(S):

MO

[2022-03-14 20:14] dlounsbu commented on #88
Hi Donrie:

Thanks for setting up this issue card.

This request is easy, I think. Can you make this edit in LIST OPTIONS for Jessica?!

Best, D

[2022-03-14 20:40] donriepurcell commented on #88
Hi profe
I am working on this as we speak,
I got some error codes that I took screen shots of.
However, before I send that stuff to Jeff I want to be sure it is properly vetted. I am updating my computer because I noticed some funny stuff today to make sure that’s not part of the problem.
I’m upstairs, call me if need be.

Sent from my iPhone

On Mar 14, 2022, at 4:14 PM, David W Lounsbury ***@***

[2022-03-14 20:57] dlounsbu commented on #88
Hi Donrie:

Ok. Let me know if you need me to work on this for JN.

DL

[2022-03-14 21:08] dlounsbu commented on #80
(from Tim Hunt)
[HCS-SOP_ORCCA_Tracker_HCSPortal_3-14-22.pdf](https://github.com/dlounsbu/NYHEALing-IPAtracker-support/files/8248466/HCS-SOP_ORCCA_Tracker_HCSPortal_3-14-22.pdf)
[ReachTrackerSOP_3-14-22.pdf](https://github.com/dlounsbu/NYHEALing-IPAtracker-support/files/8248467/ReachTrackerSOP_3-14-22.pdf)

**Note: The Reach Tracker is the RedCap application that NIDA has created to collect data f

[2022-03-14 21:09] dlounsbu commented on #80
Jessica is now assigned to this issue, too!

Welcome Jessica!

[2022-03-14 21:13] jn2434 commented on #80
Thanks David

[2022-03-14 21:21] dlounsbu commented on #65
Adding Jessica to this issue card, too

DL

[2022-03-15 17:40] jn2434 commented on #86
Besides Lewis County, the ability to edit "other" measures has been a popular request from all counties. Please let me know when this feature will become available.

[2022-03-16 14:10] donriepurcell commented on #88
Hi David
The demographic change was completed since Monday and you were cc'd on the email. All that remains is for Jeff to do his part in terms of allowing edits to other strategies

[2022-03-16 14:15] #88 closed, assigned to dlounsbu, donriepurcell, jn2434

[2022-03-16 17:47] dlounsbu opened #89 "Service Request by David Lounsbury - Tracker Download"
- [ ] Problem NOT RESOLVED
- [ ] Problem PARTIALLY RESOLVED
- [ ] Problem FULLY RESOLVED and Issue is Closed
- [ ] Qualtrics Post-Service Request Survey was sent to User

Use comments feature (below) to document:

1. A clear and concise description of the solution.

2. A clear and concise description of any alternative solutions or features you've considered.

3. Any additional context, such as sc

[2022-03-16 17:56] dlounsbu commented on #89
@jbazinet1111

Please check the Data Download feature.

It seems that the download filters are not working consistently.

When I try to download all data (each county checked, all IPA/Strategies, all components), I get some, but not all the requested data.

[DownloadIPAData_20220316 (2).csv](https://github.com/dlounsbu/NYHEALing-IPAtracker-support/files/8267068/DownloadIPAData_20220316.2.csv)
[Dow

[2022-03-16 18:07] dlounsbu commented on #65
Hi Jeff:

Good to talk with this morning about the OTHER measures feature. Please move forward on this as we discussed.

Best,
DL

[2022-03-21 20:02] jn2434 commented on #65
Hi All,

Just checking on the status of this.

Thanks,
Jessica

On Wed, Mar 16, 2022 at 2:07 PM David W Lounsbury ***@***.***>
wrote:

--

*Jessica Neufeld, MPH*
Program Manager
HEALing Communities Study
Social Intervention Group
Columbia University School of Social Work
1255 Amsterdam Avenue
New York, NY 10027
***@***.***
Website:  https://sig.columbia.edu/

[2022-03-21 20:37] dlounsbu commented on #65
Thanks Jessica!

Checking with Jeff for you, now, too.

@jbazinet1111: Any updates to share? Please reach out with any questions or needs!

Best,
DL

[2022-03-22 13:00] jbazinet1111 commented on #65
We should have this in place by Thursday pm.

[2022-03-22 15:14] dlounsbu commented on #65
Thank you Jeff!

[2022-03-25 16:26] donriepurcell commented on #65
IPA SERVICE REQUEST SUMMARY

1. CONTACT INFORMATION:

Dawn  Gruss

Email:  [dg3207@columbia.edu](mailto:dg3207@columbia.edu)

Phone:  802-310-6656

2. COUNTY

Suffolk

3. WHICH FEATURE(S):

Some other feature

4. BRIEF PROBLEM DESCRIPTION:

**We noticed we're able to edit strategies but not any of the measures at this point in time. We just need the ability to fully edit turned on.**

5. URGENCY:

[2022-03-25 16:42] jn2434 commented on #65
Hi All,

It appears the users still can not edit the measures or add new ones that
are free text

The Suffolk team would like to make edits. Is it possible to have this
completed by Monday?

Thanks,
Jessica

On Fri, Mar 25, 2022 at 12:27 PM donriepurcell ***@***.***>
wrote:

--

*Jessica Neufeld, MPH*
Program Manager
HEALing Communities Study
Social Intervention Group
Columbia University School of

[2022-03-25 16:56] donriepurcell commented on #65
Hi Jessica,
I placed the issue in the GitHub primarily so that it can be addressed by Jeff as soon as he can.
I also reached out Dawn. Albeit, I have not been able to speak to her directly.
Regards
Donrie

[2022-03-25 17:03] jn2434 commented on #65
Thank you, Donrie!

On Fri, Mar 25, 2022 at 12:56 PM donriepurcell ***@***.***>
wrote:

--

*Jessica Neufeld, MPH*
Program Manager
HEALing Communities Study
Social Intervention Group
Columbia University School of Social Work
1255 Amsterdam Avenue
New York, NY 10027
***@***.***
Website:  https://sig.columbia.edu/

[2022-03-25 18:11] jbazinet1111 commented on #65
Ok. Let me take a look. I'm on it.

[2022-03-25 19:19] dlounsbu commented on #65
I appreciate our Github thread, here.

Jeff, thanks for the re-coding you have done. What you did appears consistent with what I expected you to do. Having said that,  it seems that Dawn is asking to be able to edit the actual text string, at any point, in an OTHER measure.

Was this a feature that was allowed prior, as the user indicates, and if it were, can this be put back into place? And to pu

[2022-03-27 20:39] dlounsbu commented on #65
Hi @jbazinet1111, @donriepurcell , and @jn2434 ,

Logged into the Tracker, Wave 1, today, to see if I could ADD, EDIT and DELETE an OTHER measure as a regular user. I ran into all the same issues that Dawn did.

First, I found that the ADD button only allowed me to 'select' from existing measures. Second, I found that even if used the ADD button to select a existing OTHER measure and saved it, if

[2022-03-28 11:59] jbazinet1111 commented on #65
Team - would I be able to shut down the site for 2-3 hours today to force these changes through?
Let me know what time would be good.

[2022-03-28 13:37] jn2434 commented on #65
Thanks, Davd. I know for the Suffolk team they want to edit their measures
for clarification and to categorize specific data provided by their partner
agencies. It seems county community partners are providing more information
than required and some staff would like to monitor this in the IPA Tracker,
thus the need for edits and additions.

Jeff, if this afternoon works for you (2-5pm) that would

[2022-03-28 13:42] jbazinet1111 commented on #65
2pm-5pm EST would be perfect. Thank you.

[2022-03-28 14:34] donriepurcell commented on #65
Hi Jeff,
Anything you can do to help will be much appreciated.
Kind regards
Donrie

[2022-03-28 15:31] dlounsbu commented on #65
I am okay with this if others are . . . @jn2434 , would this be okay for you and Suffolk folks? D

[2022-03-28 15:36] jn2434 commented on #65
Hi David,

Yes, 2-5pm today would be work.

Best,
Jessica

On Mon, Mar 28, 2022 at 11:32 AM David W Lounsbury ***@***.***>
wrote:

--

*Jessica Neufeld, MPH*
Program Manager
HEALing Communities Study
Social Intervention Group
Columbia University School of Social Work
1255 Amsterdam Avenue
New York, NY 10027
***@***.***
Website:  https://sig.columbia.edu/

[2022-03-29 14:41] dlounsbu commented on #65
@jbazinet1111

I see that you have added in a new feature to allow for editing of OTHER MEASURES.

@donriepurcell and @NBOVE1 , can you follow up with Suffolk? Ideally you can set up a meeting at their convenience to review AND FULLY beta test what is now in place.

[2022-03-29 14:51] dlounsbu commented on #65
<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Word.Document>
<meta name=Generator content="Microsoft Word 15">
<meta name=Originator content="Microsoft Word 15">
<link

[2022-03-29 14:58] dlounsbu commented on #65
@jbazinet1111 : If there is any guidance you have regarding how the OTHER MEASURES features work, please share here!

It looks to me that OTHER MEASURES can now be selected from the master shared code book (LIST OPTIONS) or that users can add or edit their own LOCAL OTHER MEASURES. Am I understanding how you set this up now, Jeff?

@donriepurcell : Please fully beta test this. In our practice coun

[2022-03-29 16:48] dlounsbu commented on #51
<html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Word.Document>
<meta name=Generator content="Microsoft Word 15">
<meta name=Originator content="Microsoft Word 15">
<link rel=File-List
href="file:///C:/Users/dl

[2022-03-29 16:49] #89 closed, assigned to donriepurcell, NBOVE1, jbazinet1111

[2022-03-29 20:07] dlounsbu commented on #65
@jn2434

Would you be willing to have a short meeting with me via Zoom to double check that the matter of editing Other Measures is resolved?

Ping be back here, and I will send you a Zoom link.

Thanks,
David

[2022-03-29 20:20] jn2434 commented on #65
Hi David,

Yes, I have time at 4:30pm today.

Best,
Jessica

On Tue, Mar 29, 2022 at 4:07 PM David W Lounsbury ***@***.***>
wrote:

--

*Jessica Neufeld, MPH*
Program Manager
HEALing Communities Study
Social Intervention Group
Columbia University School of Social Work
1255 Amsterdam Avenue
New York, NY 10027
***@***.***
Website:  https://sig.columbia.edu/

[2022-03-29 20:43] dlounsbu commented on #65
Yes! We agree with Donrie and Nick, all is good to go.

Thanks Jeff!

I will e-mail Kristin to let her know.

[2022-04-01 14:05] dlounsbu commented on #65
<html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Word.Document>
<meta name=Generator content="Microsoft Word 15">
<meta name=Originator content="Microsoft Word 15">
<link rel=File-List
href="file:///C:/Users/dl

[2022-04-01 14:07] dlounsbu commented on #65
@jbazinet1111 Can you address this issue?? Was there a change in the 'security certificate' for the Tracker? How can we trouble shoot with Dawn et al.?

DL

[2022-04-01 14:23] jbazinet1111 commented on #65
Will do. It is just that the certificate has expired. It must have been 1 year ago today that we put it in.
The site is still secure and data is protected. Its really an informational message and the site is still usable but I will get the renewed certificate in place.

[2022-04-01 14:58] jbazinet1111 commented on #65
All set!

[2022-04-01 14:58] jbazinet1111 commented on #65
It will expire on 3/31/2023

[2022-04-01 16:04] donriepurcell commented on #65
@jbazinet1111
Hi jeff,
I was able to get into the tracker this morning.
For  some reason I can't get in at the moment. Other county member are experiencing the same issue.

[2022-04-01 16:08] jbazinet1111 commented on #65
You'll have to expand on "can't get in". Are you seeing an error message? Is there a security warning?
I can access the site without issue so not sure what you're experiencing.

[2022-04-01 16:10] donriepurcell commented on #65
I meant cannot **log into** the tracker!!

[2022-04-01 16:14] donriepurcell commented on #65
<img width="750" alt="Screen Shot 2022-04-01 at 12 13 36 PM" src="https://user-images.githubusercontent.com/80912517/161302240-f2ce3f30-6c50-4acf-abd3-68313c0d9885.png">

[2022-04-01 16:22] dlounsbu commented on #65
Hi @donriepurcell

Are people able to log back in now??

DL

[2022-04-01 16:30] donriepurcell commented on #65
It appears so.
I am going to reach out to Emilia now.

[2022-04-01 16:37] dlounsbu commented on #65
Remind her about the Tracker Support form link!

[2022-04-01 16:38] donriepurcell commented on #65
Ok,
So she is in and all appears well.

[2022-04-01 16:40] donriepurcell opened #90 "Service Request by [Donrie Purcell] Tracker servicing in anticipation of Wave 2"
- [ ] Qualtrics Service Request Form was received from User
- [ ] e-mail acknowledging that User's Qualtrics Service Request Form was sent
- [ ] Problem NOT RESOLVED
- [ ] Problem PARTIALLY RESOLVED
- [ ] Problem FULLY RESOLVED and Issue is Closed
- [ ] Qualtrics Post-Service Request Survey was sent to User

Use comments feature (below) to document:

1. A clear and concise description of the solut

[2022-04-01 16:52] donriepurcell commented on #90
Hi jeff
As it relates to wave 2.
I started a practice county. The IPA of interest is OEND-test. I completed the specification process of the IPA. However, when I entered the Monitoring Phase of the tracker, the established Measures are not showing up.
<img width="1260" alt="Screen Shot 2022-04-01 at 12 37 18 PM" src="https://user-images.githubusercontent.com/80912517/161307912-1d4eaa8e-19b0-433a-9

[2022-04-04 15:25] dlounsbu opened #91 "Service Request by Josh Powell - unable to access the IPA tracker"
- [x] Qualtrics Service Request Form was received from User
- [x] e-mail acknowledging that User's Qualtrics Service Request Form was sent
- [ ] Problem NOT RESOLVED
- [ ] Problem PARTIALLY RESOLVED
- [ ] Problem FULLY RESOLVED and Issue is Closed
- [ ] Qualtrics Post-Service Request Survey was sent to User

Use comments feature (below) to document:

1. A clear and concise description of the solut

[2022-04-04 15:27] dlounsbu commented on #91
Hi @donriepurcell :

I am able to log in to the Tracker from home.

Are you having any problems logging in?

DL

[2022-04-04 15:42] dlounsbu commented on #91
From: David Lounsbury
Sent: Monday, April 4, 2022 11:40 AM
To: Joshua Powell <[jpowell@mhacg.org](mailto:jpowell@mhacg.org)>
Cc: Donrie Purcell <[donrie.purcell@einsteinmed.edu](mailto:donrie.purcell@einsteinmed.edu)>
Subject: RE: IPA Tracker Support Request Form Submitted

Hi Josh (and Donrie):

I am able to log into the Tracker, but only after clicking the log in button more than once. It was ‘s

[2022-04-04 15:50] donriepurcell commented on #91
Hi Jeff,
We have a problem where one has to enter their credentials several times before they can enter the ipa tracKer. Is there anything we can do to remedy this?

[2022-04-04 15:51] dlounsbu commented on #91
Hi Jeff:

There seems to be some sort of 'refresh' issue logging into the Tracker. What do you think is causing this problem? Is it browser specific? I use Chrome.

DL

[2022-04-04 15:52] jn2434 commented on #91
Hi David,

I'm aware of this issue from Josh.

[2022-04-04 15:56] dlounsbu commented on #91
Jessica, it is strange. I can log in, but only after I refresh the browser window and after I clinic on the log in button at least two or three times.

Is this your experience, too?

Best,
DL

[2022-04-04 15:59] jbazinet1111 commented on #91
I'm not sure about this one. I just used every major browser and logged in without issue. I can restart the site just to see if it'll change things.

[2022-04-04 16:06] jn2434 commented on #91
No, not today, but I was having issues logging in on Thursday.

Best,
Jessica

On Mon, Apr 4, 2022 at 11:57 AM David W Lounsbury ***@***.***>
wrote:

--

*Jessica Neufeld, MPH*
Program Manager
HEALing Communities Study
Social Intervention Group
Columbia University School of Social Work
1255 Amsterdam Avenue
New York, NY 10027
***@***.***
Website:  https://sig.columbia.edu/

[2022-04-04 20:59] dlounsbu commented on #91
@donriepurcell

Were you able to reach Josh and was he able to access the Tracker?

Thanks, DL

[2022-04-05 03:14] donriepurcell commented on #91
Hi Profe
I reached out to Josh and offered to do zoom or help in any way possible. However, I did not hear back from him. I also tried calling to no avail.

[2022-04-05 14:27] dlounsbu commented on #91
Very good. Maybe his problem was resolved . . . .

DL

[2022-04-05 15:13] dlounsbu commented on #91
<html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Word.Document>
<meta name=Generator content="Microsoft Word 15">
<meta name=Originator content="Microsoft Word 15">
<link rel=File-List
href="file:///C:/Users/dl

[2022-04-05 15:23] dlounsbu commented on #91
@jbazinet1111

Yesterday I was able to get into the Tracker, but it was 'sticky.' One thing I did, that I think helped, was to go to the Tracker home page, press browser refresh (Chrome), and then try again. Retyping one's user name and password may help, too.

Today I am at my office in the Bronx, and I had no problem logging in.

I think that the solution/work around may have to do with needing

[2022-04-05 15:25] dlounsbu commented on #91
@jn2434

**If community members are reaching out to you about this problem, have them try the refresh browser/retype username and password trick!!**

[2022-04-05 15:43] jn2434 commented on #91
Hi All

Josh shared the data in a spreadsheet. I'm not surprised he's frustrated,
he doesn't use the tracker regularly and usually shares the data with me.

Thanks for reaching out to him.

best,
Jessica

On Tue, Apr 5, 2022 at 11:26 AM David W Lounsbury ***@***.***>
wrote:

--

*Jessica Neufeld, MPH*
Program Manager
HEALing Communities Study
Social Intervention Group
Columbia University School of

[2022-04-05 17:02] donriepurcell commented on #91
No problem,
Thank you Jessica!

[2022-04-06 17:29] donriepurcell opened #92 "Service Request by [Kelly Perry] for support on lost data"
- [ ] Qualtrics Service Request Form was received from User
- [ ] e-mail acknowledging that User's Qualtrics Service Request Form was sent
- [ ] Problem NOT RESOLVED
- [ ] Problem PARTIALLY RESOLVED
- [ ] Problem FULLY RESOLVED and Issue is Closed
- [ ] Qualtrics Post-Service Request Survey was sent to User

Use comments feature (below) to document:

1. A clear and concise description of the solut

[2022-04-06 17:29] donriepurcell commented on #92
[From: ]()David Lounsbury <noreply@qemailserver.com>
Date: Wednesday, April 6, 2022 at 1:03 PM
To: Donrie Purcell <donrie.purcell@einsteinmed.edu>
Subject: IPA Tracker Support Request Form Submitted
IPA SERVICE REQUEST SUMMARY

1. CONTACT INFORMATION:

Kelly  Perry

Email:  kper@co.ulster.ny.us

Phone:  (845) 340-4184

2. COUNTY

Ulster

3. WHICH FEATURE(S):

MONITORING: Creating, updated or delet

[2022-04-06 17:30] donriepurcell commented on #92
From: Donrie Purcell <donrie.purcell@einsteinmed.edu>
Date: Wednesday, April 6, 2022 at 1:25 PM
To: kper@co.ulster.ny.us <kper@co.ulster.ny.us>
Subject: Creating, updated or deleting information about an implemented SMART Strategy
Hi Kelly

I can send you an excel file with all your Measures Monitoring data at the end of January 2022. From this data you extract what you need, and re-enter it into

[2022-04-06 17:37] jn2434 commented on #92
Hi Donre,

I submitted this on Kelly's behalf.

Are we able to reinstall the E7 data or does it have to manually be
reentered?

Best,
Jessica

On Wed, Apr 6, 2022 at 1:30 PM donriepurcell ***@***.***>
wrote:

--

*Jessica Neufeld, MPH*
Program Manager
HEALing Communities Study
Social Intervention Group
Columbia University School of Social Work
1255 Amsterdam Avenue
New York, NY 10027
***@***.***
W

[2022-04-06 18:15] donriepurcell commented on #92
Hi Jessica

It has to be manually re-entered! Especially, when it is a deletion. If it is just disappeared on its own, we can raise it with jeff so he looks for it and see if there is an anomaly that prevents the data from being seen.

Regards
Donrie Purcell, PhD, MPH

Every generation has the obligation to free men's minds for a look at new worlds,....to look out from a higher plateau than the la

[2022-04-06 18:47] donriepurcell commented on #92
@jn2434
Hi Jessica
I used my weekly download from today (normally done on a Wednesday) to isolate Ulster county by itself.
From the images seen in the screen shot below, it appears that the monitoring data is no longer in the system.
The first screen shot will show the active Measure **E7** in Specification, and the second screen shot will show that **E7** in Measures Monitoring no longer exist.
P

[2022-04-06 18:55] donriepurcell commented on #92
@jn2434
Hi Jessica
I made an error. I am able to see the data.
Therefore. I am going to refer this to Jeff to see what the problem is and whether or not he can help.
Screen shot #1 has the Specification data.
Screen shot #2 has the Monitoring data.
![Screen Shot 2022-04-06 at 2 53 03 PM](https://user-images.githubusercontent.com/80912517/162047702-f28f1bfa-bdae-4371-a903-5e9f114e6507.png)
![Screen

[2022-04-06 19:03] donriepurcell commented on #92
@jbazinet1111

Hi Jeff
It appears that there is problem in terms of visibility of **Measures Monitoring**  data in the tracker.
The data can be downloaded in an excel spread sheet yet not visible to the community in the IPA TRACKER.
![Screen Shot 2022-04-06 at 3 03 39 PM](https://user-images.githubusercontent.com/80912517/162049594-1be6dc2d-cd51-4526-ac35-c9e34157122d.png)

<img width="1283" alt="

[2022-04-06 19:11] jn2434 commented on #92
Thanks Donrie.

It looks like an edit was made to Ulster E7 on 3/30/22. I downloaded all of
Ulster's Measures on 3/28/22 and have the values that their data
coordinator entered (and now is missing). Not sure what happened between
the few days, but if you need, I also have a copy of the missing data.

Thanks,
Jessica

On Wed, Apr 6, 2022 at 3:03 PM donriepurcell ***@***.***>
wrote:

--

*Jessica Ne

[2022-04-06 19:15] donriepurcell commented on #92
Thank you so much. I appreciate it.
Now we await Jeff's response !

[2022-04-08 12:54] jbazinet1111 commented on #92
It looks as though someone deleted the measures that were reported on earlier and now only the one measure exists. (Note Specification). The existing measure has never had any monitoring.

If the measures are added back with exactly the same text (due to them being OTHER measures), the monitoring will reappear. The monitoring data did not get deleted.

Editing measures is a bit dangerous but I thi

[2022-04-08 12:56] jbazinet1111 commented on #92
In monitoring, we show the measures that are listed in the specification. We can change this to include the measures that are in Monitoring but that poses a risk of people reporting on a measure that is no longer a part of the specification.

[2022-04-08 13:47] jn2434 commented on #92
Thanks for clarifying Jeff. I'll add the delete measures back to the
tracker.

Best,
Jessica

On Fri, Apr 8, 2022 at 8:57 AM jbazinet1111 ***@***.***>
wrote:

--

*Jessica Neufeld, MPH*
Program Manager
HEALing Communities Study
Social Intervention Group
Columbia University School of Social Work
1255 Amsterdam Avenue
New York, NY 10027
***@***.***
Website:  https://sig.columbia.edu/

[2022-04-08 16:09] donriepurcell commented on #92
Hi Jeff,
Thank you so much for clarifying.
I am hoping David gets a chance to review your response also.
Once more thank you !

[2022-04-11 17:40] donriepurcell commented on #91
@jbazinet1111
Hi Jeff,
I logged out of my account while doing a computer restart and cannot enter once more. Can you take a look at it please. I want to respond to query raise by a county in the immediate.
Regards
Donrie

[2022-04-11 17:43] donriepurcell opened #93 "Service Request by [Emilia Camp] on inability to save demographics, after edits"
- [ ] Qualtrics Service Request Form was received from User
- [ ] e-mail acknowledging that User's Qualtrics Service Request Form was sent
- [ ] Problem NOT RESOLVED
- [ ] Problem PARTIALLY RESOLVED
- [ ] Problem FULLY RESOLVED and Issue is Closed
- [ ] Qualtrics Post-Service Request Survey was sent to User

Use comments feature (below) to document:

1. A clear and concise description of the solut

[2022-04-11 17:44] donriepurcell commented on #93
Date: Monday, April 11, 2022 at 1:33 PM
To: Jessica Neufeld <jn2434@columbia.edu>
Cc: Donrie Purcell <donrie.purcell@einsteinmed.edu>, David Lounsbury <david.lounsbury@einsteinmed.edu>, Nicholas Bove <nicholas.bove@einsteinmed.edu>
Subject: RE: Impt/Timely: Suffolk IPA Tracker...
CAUTION: This email comes from an external source; the attachments and/or links may compromise our secure environment.

[2022-04-11 17:52] donriepurcell commented on #93
@jbazinet1111
please can you give a quick check to Emilia's concern about the demographics not saving after an edit. Additionally, if you check my password issue that will be helpful. Thanks.

[2022-04-11 18:24] donriepurcell commented on #93
Hi Jeff
I am now able to enter

[2022-04-11 18:53] dlounsbu commented on #93
@jbazinet1111

Donrie and I have both trouble shooted this. It seems that edits to the summary values are not being saved.

Can you check this out?

Is it a record locking issue, maybe?

Best,
DL

[2022-04-18 13:15] jbazinet1111 commented on #93
I have identified the issue and am working on a resolution. Expect on later today.

[2022-04-18 13:16] dlounsbu commented on #93
Thank you Jeff!

[2022-05-04 18:26] donriepurcell opened #94 "Service Request by [Jessica, David & Donrie] as it relates to entering the IPA tracker database"
- [x] Qualtrics Service Request Form was received from User
- [ ] e-mail acknowledging that User's Qualtrics Service Request Form was sent
- [ ] Problem NOT RESOLVED
- [ ] Problem PARTIALLY RESOLVED
- [ ] Problem FULLY RESOLVED and Issue is Closed
- [ ] Qualtrics Post-Service Request Survey was sent to User

Use comments feature (below) to document:

1. A clear and concise description of the solut

[2022-05-04 18:30] donriepurcell commented on #94
Hi @jbazinet1111
please note that Jessica, David and I are experiencing problems entering the IPA tracker database.
Anything you can do to assist in this regard will be greatly appreciated.

[2022-05-04 20:00] dlounsbu commented on #94
@jbazinet1111

I just tried to log in again. No problem this time.

Jeff, do you know why we are having these intermittent log in problems?

Any trouble shooting suggestions for us?

[2022-05-04 23:58] donriepurcell commented on #94
Hi David & Jeff

Jessica was eventually able to enter the tracker just shy of 5pm.
We were texting each other,...as I had ask of her to kindly keep trying at it.
Whatever the problem is, we may have to figure out what is causing some of us to be able to enter in one moment and not in the next.
It may just be something simple that could be resolved easily.

[2022-05-05 18:26] donriepurcell commented on #94
<html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
xmlns="http://www.w3.org/TR/REC-html40"><p class="MsoNormal" style="margin: 0in 0in 12pt; font-size: 10pt; font-family: Calibri, sans-serif; caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-style: normal; font-variant-caps: normal; f

[2022-05-05 18:31] donriepurcell commented on #94
@jbazinet1111
Hi Jeff
If possible, can you look at the above email track,..
There seem to be a problem with entering the tracker at will, I.e. Someone should be able to use their/his/her password at anytime without having to try several times to enter.
Emma cannot enter in this moment and neither can I.
Please can you take a keen look at this to see what we can do to assist Emma and her team.

[2022-05-05 19:00] dlounsbu commented on #94
@jbazinet1111

A number of users, as well as Donrie and I, are having difficulty entering the Tracker.

We cannot log in.

Can you investigate!?

Thanks,
DL

[2022-05-05 19:02] jbazinet1111 commented on #94
I am travelling at the moment but will look into it when I'm back in the office.

[2022-05-05 19:20] dlounsbu commented on #94
From: David Lounsbury <noreply@qemailserver.com>
Sent: Thursday, May 5, 2022 1:05 PM
To: David Lounsbury <david.lounsbury@einsteinmed.edu>
Subject: IPA Tracker Support Request Form Submitted

IPA SERVICE REQUEST SUMMARY

1. CONTACT INFORMATION:

Emma  Rodgers

Email:  [emr2241@columbia.edu](mailto:emr2241@columbia.edu)

Phone:  4439946614

2. COUNTY

None of the above - not county-specific

3. WHI

[2022-05-05 19:34] dlounsbu commented on #94
![image](https://user-images.githubusercontent.com/20574023/167011958-5cdabea9-efed-425d-913f-328920a0ccd5.png)

Here is the error screen I am getting now.

[2022-05-05 19:36] jbazinet1111 commented on #94
Going to need people to stay out of the system for a bit if you'd like us to work on this issue right now. I have someone doing some testing and you're going to see sporadic results while this is taking place.

[2022-05-05 20:13] jbazinet1111 commented on #94
It should be working now. We received a burst of erroneous connection attempts. This loaded up the "hosts connections" and it blocked people out. We had 10,000 allocated and they were used up. I have cleared them and set up a manner to prevent this from happening but please let me know if this happens again.

[2022-05-05 21:08] dlounsbu commented on #94
Hi Jeff:

I just tried to log in, but I was not successful.

@donriepurcell and @jn2434 , how about you?

[2022-05-05 21:27] jn2434 commented on #94
Hi, my attempt was also unsuccessful.

On Thu, May 5, 2022 at 5:09 PM David W Lounsbury ***@***.***>
wrote:

--

*Jessica Neufeld, MPH*
Program Manager
HEALing Communities Study
Social Intervention Group
Columbia University School of Social Work
1255 Amsterdam Avenue
New York, NY 10027
***@***.***
Website:  https://sig.columbia.edu/

[2022-05-05 23:04] jbazinet1111 commented on #94
Please re-try. I even logged in on my phone just to make sure it wasn't a network thing.

[2022-05-06 01:11] dlounsbu commented on #94
It’s working now!

[2022-06-15 03:02] dlounsbu opened #95 "Service Request by Kelly Perry about editing existing MONITORING data"
- [x] Qualtrics Service Request Form was received from User
- [x] e-mail acknowledging that User's Qualtrics Service Request Form was sent
- [ ] Problem NOT RESOLVED
- [ ] Problem PARTIALLY RESOLVED
- [ ] Problem FULLY RESOLVED and Issue is Closed
- [ ] Qualtrics Post-Service Request Survey was sent to User

IPA SERVICE REQUEST SUMMARY

1. CONTACT INFORMATION:

Kelly  Perry

Email:  kper@co.ulster

[2022-06-15 03:05] dlounsbu commented on #95
@donriepurcell

Please resolve this first thing in the morning!

Thanks very much,
DL

[2022-06-15 14:26] donriepurcell commented on #95
From: Donrie Purcell <donrie.purcell@einsteinmed.edu>
Date: Wednesday, June 15, 2022 at 10:25 AM
To: kper@co.ulster.ny.us <kper@co.ulster.ny.us>
Subject: Help with the tracker
Hi Kelly,

I am trying to reach out to assist you with the tracker.
I can be reached 589-589-3145.

Regards
Donrie Purcell, PhD, MPH

Every generation has the obligation to free men's minds for a look at new worlds,....to lo

[2022-06-17 16:52] dlounsbu commented on #95
Hi Donrie:

If you need me to follow up with Kelly, please let me know.

DL

[2022-06-18 03:45] donriepurcell commented on #95
Hi David
I don’t think so. Kelley usually gets in touch with me. I will give him up to Tuesday. As Monday is a holiday and reach out to him again.
Regards
Donrie

Sent from my iPhone

On Jun 17, 2022, at 12:52 PM, David W Lounsbury ***@***.***> wrote:

﻿
CAUTION: This email comes from an external source; the attachments and/or links may compromise our secure environment. Do not open or click on su

[2022-06-28 14:14] dlounsbu commented on #95
Hi Donrie:

Can this issue be closed now? Or how should I follow up?

Best,
dl

[2022-10-11 09:11] donriepurcell commented on #95
Hi Profe
Please close it.
Regards
Donrie Purcell, PhD, MPH

Every generation has the obligation to free men's minds for a look at new worlds,....to look out from a higher plateau than the last generation.
Ellison S. Onizuka

CONFIDENTIALITY: This email (including any attachments) may contain confidential, proprietary and/or privileged information. Any duplication, copying, distribution, disseminat